#banner {
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid #e7e7e7;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
}

.banner {
    width: 110rem;
    height: 6rem;
    margin: 0 auto;
    background-color: #fff;
}

.banner .banner-l {
    float: left;
    height: 6rem;
}
.banner .banner-l ul li {
    display: inline-block;
    height: 6rem;
    line-height: 6rem;
    margin-right: 6.5rem;
    float: left;
}
.banner a{
    font-size: 1.8rem;
}
.banner .banner-r {
    float: right;
    height: 6rem;

}

.banner .banner-r ul li {
    display: inline-block;
    height: 6rem;
    line-height: 6rem;
    margin-left: 6rem;

}
#login {
    margin: 12rem auto;

    width: 35rem;
    border: 1px solid #66ccff;
    border-radius: 0.4rem;
}

#login .login-h {
    height: 5rem;
    width: 100%;
}

#login .login-h .li{
    background-color: #66ccff;
    color: white;
}
#login .login-h span{
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 5rem;
}
#login .login-h .on{
    background-color: #fff;
    color: #66ccff;
}

#login .login-b{
    padding: 2rem 4rem;
}

#login .login-b .s1{
    margin: 0.5rem 0;
}
#login .login-b .s1 h4{
    color: #66ccff;
}
#login .login-b .s1 input{
    width: 100%;
    height: 4rem;
    border: 1px solid #66ccff;
   margin-top: 0.5rem;
    border-radius: 0.4rem;
    padding-left: 0.4rem;
}
#login .login-b .s2{
    margin: 1rem 0;
}
#login .login-b .s2 span{
    font-size: 1.4rem;
    color: #666666;
}
.login-s {
    width: 25rem;
    height: 4rem;
    margin: 1rem;
    color: #ffffff;
    border-radius: 2rem;
    background-color: #66ccff;
}
.s3 {
    margin: 0.5rem 0 1.5rem 0;
    text-align: center;
    font-size: 1.4rem;
}
.s3 a{
    color: #66ccff;
}
.s4{
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    color: #666666;
}

